Repository nwplus/nwhacks2019, pull requests merged in 2018-11, with the labels that each got.

#171 Use the same ID for a given hacker's documents
  functions/src/submitApplication/index.js
  functions/src/submitApplication/models.js
Labels: :functions

#167 Hacker application success page
  docs/bundle.js
  web/assets/emoji/praise.svg
  web/components/app/App.js
  web/components/application/hacker/pages/SuccessPage/SuccessPage.js
  web/containers/application/hacker/Hacker.js
  web/styles/utils.sass
Labels: :web

#175 Add loading animation and error handling
  web/components/application/hacker/pages/PageTemplate.js
  web/components/application/hacker/pages/PageTwo/PageTwo.js
  web/containers/application/hacker/Hacker.js
Labels: :web

#188 Better sponsor logo and animation
  docs/bundle.js
  web/assets/sponsors/tetra/microsoft.png
  web/assets/sponsors/tetra/microsoft.svg
  web/components/home/Home.js
  web/components/home/Sponsors.js
  web/components/navbar/index.js
  web/styles/animations.sass
Labels: :web

#192 Admin/auth
  docs/bundle.js
  web/components/admin/AdminGate/index.js
  web/components/admin/index.js
  web/components/app/App.js
  web/components/auth/Login/Login.js
  web/components/auth/Logout/Logout.js
  web/containers/auth/Login.js
  web/containers/auth/index.js
Labels: status: finalized, type: internal

#195 add more fields to quick info
  docs/bundle.js
  functions/src/submitApplication/constraints.js
  functions/src/submitApplication/index.js
  functions/src/submitApplication/models.js
  web/components/application/hacker/pages/PageTemplate.js
Labels: :functions, status: finalized

#196 Web/internal/assessment panel
  web/components/admin/ApplicantInfo/index.js
  web/components/admin/ApplicantInfo/index.sass
  web/components/admin/ApplicantList/index.js
  web/components/admin/ApplicantList/index.sass
  web/components/admin/AssessmentPage/index.js
  web/components/admin/AssessmentPage/index.sass
  web/components/admin/ScorePanel/index.js
  web/components/admin/ScorePanel/index.sass
  web/components/admin/Toolbar/index.js
  web/components/admin/Toolbar/index.sass
  web/components/admin/index.js
  web/components/admin/index.sass
  web/components/app/App.js
  web/components/index.sass
  web/components/input/select/index.js
  web/containers/admin/AssessmentPage/index.js
  web/styles/colors.sass
  web/styles/index.sass
  web/styles/internal.sass
  web/util/applicantCollections.js
Labels: :web, status: finalized, type: feature, type: internal
