Repository nwplus/nwhacks2019, pull requests merged in 2018-12, with the labels that each got.

#211 Add more sponsors
  docs/bundle.js
  web/assets/sponsors/in-kind/stickermule.png
  web/assets/sponsors/in-kind/wolfram.png
  web/assets/sponsors/kilo/deloitte.png
  web/assets/sponsors/kilo/realtor.png
  web/components/home/Sponsors.js
  web/components/home/index.sass
Labels: :web, status: finalized

#208 Implement score panel
  docs/bundle.js
  web/components/admin/ApplicantList/index.js
  web/components/admin/ApplicantList/index.sass
  web/components/admin/AssessmentPage/ScorePanel/Criteria.js
  web/components/admin/AssessmentPage/ScorePanel/ScoreButtonGroup/index.js
  web/components/admin/AssessmentPage/ScorePanel/ScoreButtonGroup/index.sass
  web/components/admin/AssessmentPage/ScorePanel/index.js
  web/components/admin/AssessmentPage/ScorePanel/index.sass
  web/components/admin/AssessmentPage/index.js
  web/components/admin/AssessmentPage/index.sass
  web/components/admin/ScorePanel/index.js
  web/components/admin/ScorePanel/index.sass
  web/package.json
  web/styles/colors.sass
  web/yarn.lock
Labels: :web, status: finalized, type: internal

#221 Functions/feature flags
  functions/src/submitApplication/index.js
  functions/src/submitVolunteerApplication/index.js
Labels: :functions, status: finalized
