Repository nwplus/nwhacks2019, pull requests merged in 2018-08, with the labels that each got.

#27 Backend rework
  .firebaserc
  Makefile
  README.md
  firebase.json
  functions/.eslintrc.json
  functions/index.js
  functions/package.json
  functions/src/example/index.js
  functions/yarn.lock
  serverless/.eslintrc.json
  serverless/.example.env.yml
  serverless/README.md
  serverless/package.json
  serverless/serverless.yml
  serverless/src/api.js
  serverless/src/utils/index.js
  serverless/tests/README.md
  serverless/tests/api.test.js
Labels: component: serverless, status: finalized

#29 init/style Checkbox & CheckboxGroup
  web/.eslintrc.json
  web/assets/checkbox/checked.svg
  web/assets/checkbox/hover.svg
  web/assets/checkbox/unchecked.svg
  web/components/demo/index.js
  web/components/input/buttons/CheckboxGroup/Checkbox.sass
  web/components/input/buttons/CheckboxGroup/index.js
  web/components/input/buttons/index.js
  web/components/input/buttons/index.sass
  web/components/input/text/TextInput/PasswordInput/PasswordInput.test.js
  web/styles/colors.sass
Labels: component: web, status: finalized

#25 Fix disabled progress buttons, add tests
  web/components/input/buttons/ProgressGroup/ProgressGroup.test.js
  web/components/input/buttons/ProgressGroup/index.js
Labels: component: web, status: finalized, type: bugfix

#32 Dev deployment
  .dockerignore
  .gitignore
  web.Dockerfile
  web/package.json
  web/webpack.config.js
  web/yarn.lock
Labels: status: finalized

#39 Web/flexbox utils, login style rework
  web/components/auth/Login/Login.js
  web/components/auth/Login/Login.sass
  web/components/input/buttons/PrimaryButton/index.js
  web/styles/breakpoints.sass
  web/styles/decoration.sass
  web/styles/index.sass
  web/styles/typography.sass
  web/styles/utils.sass
Labels: :web, status: finalized

#40 Add a place to note related tickets in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: finalized, type: internal

#31 Web/hacker application pages
  web/actions/action_types.js
  web/actions/application/index.js
  web/actions/application/lastValidIndex.js
  web/actions/application/lastValidIndex.test.js
  web/actions/application/page.js
  web/actions/application/page.test.js
  web/actions/index.js
  web/components/app/App.js
  web/components/app/App.sass
  web/components/application/hacker/Hacker.js
  web/components/application/hacker/Hacker.sass
  web/components/application/hacker/Hacker.test.js
  web/components/application/hacker/pages/PageOne.js
  web/components/application/hacker/pages/PageOne.sass
  web/components/auth/Login/Login.js
  web/components/dashboard/index.js
  web/components/index.sass
  web/components/input/buttons/ButtonGroup/ButtonGroup.sass
  web/components/input/buttons/ButtonGroup/index.js
  web/components/input/buttons/ProgressGroup/ProgressGroup.sass
  web/components/input/buttons/ProgressGroup/ProgressGroup.test.js
  web/components/input/buttons/ProgressGroup/index.js
  web/components/input/buttons/SecondaryButton/SecondaryButton.sass
  web/components/input/buttons/index.js
  web/components/input/buttons/index.sass
  web/containers/application/hacker/Hacker.js
  web/containers/application/hacker/Hacker.test.js
  web/containers/application/index.js
  web/containers/auth/AfterLogin.js
  web/containers/auth/AfterLogin.test.js
  web/index.html
  web/reducers/application/index.js
  web/reducers/entities/application/hacker/hacker.test.js
  web/reducers/entities/application/hacker/index.js
  web/reducers/entities/application/index.js
  web/reducers/entities/index.js
  web/reducers/index.js
  web/reducers/ui/application/hacker/activeIndex.js
  web/reducers/ui/application/hacker/activeIndex.test.js
  web/reducers/ui/application/hacker/index.js
  web/reducers/ui/application/hacker/lastValidIndex.js
  web/reducers/ui/application/hacker/lastValidIndex.test.js
  web/reducers/ui/application/index.js
  web/reducers/ui/index.js
  web/styles/index.sass
  web/styles/spacing.sass
  web/styles/typography.sass
  web/styles/utils.sass
Labels: :web

#41 Web/navbar hide
  web/.eslintrc.json
  web/assets/logo.png
  web/assets/logo.svg
  web/components/Main.js
  web/components/auth/Login/Login.js
  web/components/dashboard/index.js
  web/components/demo/Demo.sass
  web/components/demo/index.js
  web/components/navbar/Navbar.sass
  web/components/navbar/index.js
  web/components/navbar/navbar.component.test.js
  web/containers/navbar/index.js
  web/styles/animations.sass
  web/styles/breakpoints.sass
  web/styles/colors.sass
  web/styles/decoration.sass
  web/styles/index.sass
  web/styles/spacing.sass
  web/styles/typography.sass
  web/styles/utils.sass
Labels: :web, status: finalized

#51 Web/refactor/checkbox+radio
  web/components/demo/index.js
  web/components/input/buttons/CheckboxGroup/Checkbox.sass
  web/components/input/buttons/CheckboxGroup/index.js
  web/components/input/buttons/RadioGroup/RadioButton.sass
  web/components/input/buttons/RadioGroup/index.js
  web/styles/index.sass
  web/styles/sizes.sass
  web/styles/spacing.sass
  web/styles/typography.sass
  web/styles/utils.sass
Labels: :web, status: finalized, type: refactor

#52 Web/bug fix/no undefined classname
  web/components/input/buttons/ButtonGroup/index.js
  web/components/input/buttons/PrimaryButton/index.js
  web/components/input/buttons/ProgressGroup/ProgressGroup.test.js
  web/components/input/buttons/ProgressGroup/index.js
Labels: :web, status: finalized, type: bugfix

#54 Web/application/hacker/cancel button
  web/actions/action_types.js
  web/components/application/hacker/Hacker.js
  web/components/application/hacker/Hacker.test.js
  web/containers/application/hacker/Hacker.js
  web/containers/application/hacker/Hacker.test.js
  web/package.json
  web/reducers/entities/application/hacker/hacker.test.js
  web/reducers/entities/application/index.js
  web/reducers/ui/application/hacker/activeIndex.test.js
  web/reducers/ui/application/hacker/lastValidIndex.test.js
  web/reducers/ui/application/index.js
  web/services/store/index.js
  web/services/store/persist.config.js
  web/tests/setup.js
Labels: :web, status: finalized, type: feature

#66 redirect to page not found when user tries to access dashboard when t…
  web/components/dashboard/index.js
Labels: :web, priority: major, status: finalized, type: feature

#65 add acceptable styling to page not found
  web/components/errors/NotFound.js
  web/containers/navbar/index.js
  web/styles/breakpoints.sass
  web/styles/typography.sass
Labels: :web, status: finalized, type: refactor

#67 fix padding for hacker application
  web/components/application/hacker/Hacker.js
Labels: :web, status: finalized, type: bugfix

#68 Add icon to not-found page, add link back to homepage
  web/assets/circle-mountain.svg
  web/components/errors/NotFound.js
  web/styles/spacing.sass
Labels: :web, status: finalized, type: ux

#62 Web/feature flag
  web/.eslintrc.json
  web/components/app/App.js
  web/components/auth/Login/Login.js
  web/components/navbar/index.js
  web/containers/application/hacker/Hacker.js
  web/containers/application/hacker/Hacker.test.js
  web/containers/navbar/DisplayTypes.js
  web/containers/navbar/index.js
  web/containers/navbar/navbar.container.test.js
  web/index.js
  web/services/firestore/index.js
  web/services/store/index.js
Labels: :web, priority: major, status: finalized, type: feature

#56 Homepage + scaling
  web/assets/bear-circle.svg
  web/assets/panel-bear.svg
  web/assets/panel-train.svg
  web/assets/skyline.svg
  web/assets/sun.svg
  web/components/app/App.js
  web/components/application/hacker/Hacker.test.js
  web/components/auth/Login/Login.js
  web/components/home/Home.js
  web/components/home/Sections.js
  web/components/home/index.sass
  web/components/index.sass
  web/components/input/buttons/PrimaryButton/PrimaryButton.sass
  web/components/input/buttons/SecondaryButton/SecondaryButton.sass
  web/components/input/text/TextInput/TextInput.js
  web/components/navbar/index.js
  web/components/navbar/navbar.component.test.js
  web/containers/main/index.js
  web/styles/breakpoints.sass
  web/styles/colors.sass
  web/styles/index.sass
  web/styles/spacing.sass
  web/styles/typography.sass
  web/styles/utils.sass
Labels: :web, status: finalized

#60 Web/refactor/input usage
  web/.eslintrc.json
  web/components/application/hacker/pages/PageOne.js
  web/components/application/hacker/pages/PageOne.sass
  web/components/application/hacker/pages/PageTwo.js
  web/components/application/hacker/pages/SignUp.js
  web/components/auth/Login/Login.js
  web/components/demo/index.js
  web/components/home/Home.js
  web/components/input/buttons/PrimaryButton/index.js
  web/components/input/buttons/SecondaryButton/index.js
  web/components/input/text/TextInput/PasswordInput/PasswordInput.js
  web/components/input/text/TextInput/PasswordInput/PasswordInput.test.js
  web/components/input/text/TextInput/TextInput.js
  web/components/input/text/TextInput/TextInput.test.js
Labels: :web, status: finalized, type: refactor
