Repository nwplus/nwhacks2019, pull requests merged in 2018-10, with the labels that each got.

#111 Web/components/TextArea
  web/components/demo/index.js
  web/components/input/text/TextArea/TextArea.sass
  web/components/input/text/TextArea/TextArea.test.js
  web/components/input/text/TextArea/index.js
  web/components/input/text/TextInput/TextInput.sass
  web/components/input/text/index.js
  web/components/input/text/index.sass
  web/styles/decoration.sass
  web/styles/spacing.sass
  web/styles/typography.sass
  web/styles/utils.sass
Labels: :web, status: finalized, type: feature

#122 Added blue mlh ribbon
  web/assets/mlh-blue-ribbon.svg
  web/components/home/External.js
  web/components/home/Home.js
  web/components/home/index.sass
  web/components/navbar/Navbar.sass
Labels: :web, type: feature

#125 Updated Travis CI
  README.md
  web/package.json
  web/tests/firestore/firestore.test.js
Labels: :web, type: bugfix, type: feature

#121 Web/cache/delete
  docs/service-worker.js
Labels: :web, status: finalized, type: feature

#131 Add right padding to sun
  web/components/home/Home.js
Labels: :web, type: bugfix

#133 Minor typo fix
  docs/bundle.js
  web/components/home/Questions.js
Labels: :web

#113 Web/application/hacker/sign up firebase refactored
  docs/bundle.js
  web/components/app/App.js
  web/components/application/Application.js
  web/components/application/Application.sass
  web/components/application/hacker/Hacker.js
  web/components/application/hacker/Hacker.test.js
  web/components/application/hacker/pages/PageOne.js
  web/components/application/hacker/pages/PageTwo.js
  web/components/application/hacker/pages/SignUp.js
  web/components/application/hacker/pages/SignUp.test.js
  web/components/application/hacker/pages/utils.js
  web/components/application/index.js
  web/components/index.sass
  web/containers/application/Application.js
  web/containers/application/Context.js
  web/containers/application/hacker/Hacker.js
  web/containers/application/hacker/Hacker.test.js
Labels: :web, status: finalized

#135 make a page template and don't include sign up page
  docs/bundle.js
  web/.eslintrc.json
  web/components/app/App.sass
  web/components/application/Page.js
  web/components/application/hacker/pages/PageOne.js
  web/components/application/hacker/pages/PageTemplate.js
  web/components/application/hacker/pages/PageTwo.js
  web/components/errors/NotFound.js
  web/containers/application/Application.js
  web/containers/application/hacker/Hacker.js
Labels: status: finalized

#139 make 404.html
  docs/404.html
  web/webpack.plugins.js
Labels: priority: major, status: finalized, type: bugfix

#140 hash router
  docs/404.html
  docs/bundle.js
  web/components/app/App.js
  web/components/home/Home.js
  web/webpack.plugins.js
Labels: priority: major, status: finalized, type: bugfix

#141 Web/input/drop down list
  docs/bundle.js
  web/assets/select/arrow.svg
  web/components/demo/index.js
  web/components/index.sass
  web/components/input/select/index.js
  web/components/input/select/index.sass
  web/package.json
  web/styles/spacing.sass
  web/yarn.lock
Labels: :web, priority: major, status: finalized, type: feature

#144 Web/application/hacker/pages/page one
  docs/bundle.js
  docs/index.html
  web/components/application/education/index.js
  web/components/application/genders/index.js
  web/components/application/hacker/pages/PageOne/PageOne.js
  web/components/application/hacker/pages/PageOne/PageOneConstraints.js
  web/components/application/hacker/pages/PageTemplate.js
  web/components/application/schools/index.js
  web/components/demo/index.js
  web/components/input/buttons/RadioGroup/index.js
  web/components/input/select/SelectCity/index.js
  web/components/input/select/index.js
  web/components/input/select/index.sass
  web/components/view/ShowHideTextView/index.js
  web/index.html
  web/package.json
  web/reducers/entities/application/hacker/hacker.test.js
  web/reducers/entities/application/hacker/index.js
  web/styles/animations.sass
  web/styles/spacing.sass
  web/styles/typography.sass
  web/styles/utils.sass
  web/yarn.lock
Labels: status: finalized

#160 Hacker application page 3
  docs/bundle.js
  web/assets/emoji/briefcase.svg
  web/assets/emoji/floppy.svg
  web/assets/emoji/robot.svg
  web/components/application/hacker/pages/PageThree/PageThree.js
  web/components/application/hacker/pages/PageThree/PageThreeConstraints.js
  web/components/application/sources/index.js
  web/components/input/buttons/CheckboxGroup/index.js
  web/containers/application/hacker/Hacker.js
  web/styles/spacing.sass
Labels: :web

#172 Add value prop to TextArea
  docs/bundle.js
  web/components/input/text/TextArea/index.js
Labels: type: bugfix

#170 Finalize constraints
  docs/bundle.js
  functions/package.json
  functions/src/submitApplication/constraints.js
  functions/yarn.lock
  web/components/application/hacker/pages/PageOne/PageOneConstraints.js
  web/components/application/hacker/pages/PageTwo/PageTwo.js
  web/components/application/hacker/pages/PageTwo/PageTwoConstraints.js
Labels: :functions, :web
