Repository nwplus/nwhacks2019, pull requests merged in 2018-07, with the labels that each got.

#10 Init admin panel
  web/components/admin/index.js
  web/components/login/Login.js
  web/package-lock.json
  web/package.json
  web/pages/app/App.js
  web/pages/app/NotFound.js
  web/services/store/index.js
  web/yarn.lock
Labels: component: web, status: finalized

#12 hide password input
  web/components/login/Login.js
Labels: component: web

#14 Use babel-plugin-transform-class-properties instead of bind
  docs/bundle.js
  web/.babelrc
  web/.eslintrc.json
  web/components/login/Login.js
  web/package.json
  web/webpack.config.js
  web/yarn.lock
Labels: component: web

#16 Init navbar
  web/components/Main.js
  web/components/dashboard/index.js
  web/components/login/Login.js
  web/components/login/Logout.js
  web/components/navbar/Navbar.sass
  web/components/navbar/index.js
  web/components/navbar/navbar.component.test.js
  web/containers/app/App.js
  web/containers/navbar/ButtonTypes.js
  web/containers/navbar/DisplayTypes.js
  web/containers/navbar/index.js
  web/containers/navbar/navbar.container.test.js
  web/package.json
  web/tests/__mocks__/fileMock.js
  web/yarn.lock
Labels: component: web, status: wip

#17 Add merriweather font
  web/index.html
  web/styles/index.sass
Labels: component: web, status: finalized

#18 init secondary button
  web/components/app/App.js
  web/components/app/App.sass
  web/components/errors/NotFound.js
  web/components/frontEndComponents/button/SecondaryButton/SecondaryButton.sass
  web/components/frontEndComponents/button/SecondaryButton/index.js
  web/components/frontEndComponents/button/index.js
  web/components/frontEndComponents/index.js
  web/index.js
  web/styles/fonts/apercu_bold_pro.otf
  web/styles/fonts/apercu_medium_pro.otf
  web/styles/fonts/apercu_regular_pro.otf
  web/styles/typography.sass
  web/webpack.config.js
Labels: component: web, status: finalized, type: feature

#15 Initialize .env file & config for web
  .example.env
  README.md
  web/main.config.js
  web/package.json
  web/services/store/index.js
  web/tests/firebase/firebase.js
  web/webpack.config.js
  web/webpack.plugins.js
  web/webpack.prod.js
  web/yarn.lock
Labels: component: web

#19 Style navbar
  web/assets/logo.png
  web/components/navbar/Navbar.sass
  web/components/navbar/index.js
  web/components/navbar/navbar.component.test.js
Labels: component: web, status: finalized, type: feature

#21 Progress button group
  web/.eslintrc.json
  web/components/demo/index.js
  web/components/input/buttons/PrimaryButton/PrimaryButton.sass
  web/components/input/buttons/ProgressGroup/ProgressGroup.sass
  web/components/input/buttons/ProgressGroup/index.js
  web/components/input/buttons/SecondaryButton/SecondaryButton.sass
  web/components/input/buttons/index.js
  web/components/input/buttons/index.sass
Labels: component: web, status: finalized

#22 Implement text input component
  web/components/demo/index.js
  web/components/index.sass
  web/components/input/text/TextInput/TextInput.sass
  web/components/input/text/TextInput/TextInput.test.js
  web/components/input/text/TextInput/index.js
  web/components/input/text/index.js
  web/components/input/text/index.sass
  web/styles/colors.sass
  web/styles/typography.sass
Labels: component: web

#26 Implement PasswordInput separately from TextInput
  web/components/app/App.sass
  web/components/demo/Demo.sass
  web/components/demo/index.js
  web/components/index.sass
  web/components/input/text/TextInput/PasswordInput/PasswordInput.js
  web/components/input/text/TextInput/PasswordInput/PasswordInput.sass
  web/components/input/text/TextInput/PasswordInput/PasswordInput.test.js
  web/components/input/text/TextInput/PasswordInput/index.js
  web/components/input/text/TextInput/TextInput.js
  web/components/input/text/TextInput/TextInput.sass
  web/components/input/text/TextInput/TextInput.test.js
  web/components/input/text/TextInput/index.js
  web/components/input/text/index.js
  web/components/input/text/index.sass
Labels: component: web, status: finalized, type: feature

#23 Style sign in
  web/components/app/App.js
  web/components/app/App.sass
  web/components/auth/Login/Login.js
  web/components/auth/Login/Login.sass
  web/components/auth/Login/index.js
  web/components/auth/Logout/Logout.js
  web/components/auth/Logout/index.js
  web/components/auth/index.js
  web/components/auth/index.sass
  web/components/index.sass
  web/components/input/buttons/PrimaryButton/index.js
  web/components/input/text/TextInput/TextInput.sass
  web/components/navbar/Navbar.sass
  web/styles/colors.sass
Labels: component: web, status: finalized, type: feature
