Repository nwplus/nwhacks2019, pull requests merged in 2018-09, with the labels that each got.

#79 set default props for hacker application
  web/containers/application/hacker/Hacker.js
  web/containers/application/hacker/Hacker.test.js
Labels: :web, status: finalized, type: feature

#83 Load default styles first, add webkit-font-smoothing
  web/styles/index.sass
  web/styles/spacing.sass
Labels: status: finalized

#87 Add sponsorship package
  web/components/home/External.js
  web/components/home/Home.js
Labels: :web, status: finalized, type: feature

#85 Add MailChimp subscribe link
  web/components/home/External.js
  web/components/home/Home.js
Labels: :web, status: finalized, type: feature

#88 Add CNAME
  docs/CNAME
  docs/bundle.js
  docs/index.html
Labels: :web, status: finalized, type: feature

#91 hide links from navbar
  docs/bundle.js
  web/components/navbar/index.js
  web/components/navbar/navbar.component.test.js
Labels: :web, priority: major, status: finalized, type: bugfix, type: feature

#89 Report coverage to codecov
  .gitignore
  .travis.yml
  Makefile
  README.md
Labels: status: finalized

#95 add link to stories
  web/components/navbar/index.js
  web/components/navbar/navbar.component.test.js
Labels: :web, status: finalized

#96 Web/components/show hide
  web/assets/arrow.svg
  web/components/demo/index.js
  web/components/index.sass
  web/components/view/ShowHideTextView/ShowHideTextView.sass
  web/components/view/ShowHideTextView/ShowHideTextView.test.js
  web/components/view/ShowHideTextView/index.js
  web/components/view/index.js
  web/components/view/index.sass
  web/styles/animations.sass
  web/styles/decoration.sass
  web/styles/spacing.sass
Labels: :web, status: finalized, type: feature

#98 add maxLength to text input
  web/components/input/text/TextInput/TextInput.js
  web/components/input/text/TextInput/TextInput.test.js
Labels: :web, status: finalized

#116 Add FAQ to navbar
  web/components/navbar/index.js
Labels: :web, status: finalized
